<div class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="assets/img/ingenieria1403_logo.png" #ing1403 width="90" height="40" alt="Ingenieria1403" routerLink="/">
        </a>
        <a href="" class="navbar-item has-text-light" routerLink="/">Inicio</a>
        <a href="javascript:void(0)" (click)="scrollToElement('conoce')" class="navbar-item has-text-light" >Conócenos</a>
        <a href="" class="navbar-item has-text-light" routerLink="/contact">Contáctanos</a>
        
    </div>
</div>


