<div class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="../assets/img/ingenieria1403_logo.png" width="90" height="40" alt="Ingenieria1403">
        </a>
        <a href="" class="navbar-item has-text-light">Inicio</a>
        <a href="" class="navbar-item has-text-light">Conocenos</a>
        <a href="" class="navbar-item has-text-light">Contactanos</a>
        
    </div>
</div>

<!--<br>
<br>
<nav>
    <ul>Quienes Somos
        <li>Vision</li>
        <li>Mision</li>
    </ul>
    <ul>
        Contactanos
    </ul>
    <ul>Encuentranos</ul>
</nav>!>-->