<section class="hero is-primary is-bold is-fullheight ">
    <div class="hero-body ">
      <div class="container has-text-centered">
        <p class="title has-text-light">
          Ingenieria 1403
        </p>
      </div>
    </div>

</section>

<section class="section">
  <div class="columns is-centered">
    <div class="column is-three-quarters">
      <div class="box">

        <section id="conoce" class="section">
          <div class="columns is-centered">
            <figure class="image">
              <img class="image" src="assets\img\conocenos1403.jpg">
            </figure>
            
          </div>
          <br>
          <div class="columns is-centered">
            <h1 class="title has-text-centered">Conócenos</h1>
          </div>
          <br>
          <div class="columns is-centered">
            <h2 class="subtitle has-text-justified">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet euismod sapien. Nam at orci mauris. Praesent vulputate lectus tempus, consectetur erat ac, dictum ex. Cras ultrices ut lectus ac tincidunt. Praesent quis lorem sit amet nisi rutrum pellentesque porta vel augue.
            </h2>
          </div>

        </section>
        
        <section class="section">
          <div class="columns is-centered">
            <figure class="image">
              <img class="image" src="assets\img\mision1403.jpg">
            </figure>
            
          </div>
          <br>
          <div class="columns is-centered">
            <h1 class="title has-text-centered">Misión</h1>
          </div>
          <br>
          <div class="columns is-centered">
            <h2 class="subtitle has-text-justified">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet euismod sapien. Nam at orci mauris. Praesent vulputate lectus tempus, consectetur erat ac, dictum ex. Cras ultrices ut lectus ac tincidunt. Praesent quis lorem sit amet nisi rutrum pellentesque porta vel augue.
            </h2>
          </div>

          <section class="section">
            <div class="columns is-centered">
              <figure class="image ">
                <img class="image" src="assets\img\vision1403.jpg">
              </figure>
              
            </div>
            <br>
            <div class="columns is-centered">
              <h1 class="title has-text-centered">Visión</h1>
            </div>
            <br>
            <div class="columns is-centered">
              <h2 class="subtitle has-text-justified">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet euismod sapien. Nam at orci mauris. Praesent vulputate lectus tempus, consectetur erat ac, dictum ex. Cras ultrices ut lectus ac tincidunt. Praesent quis lorem sit amet nisi rutrum pellentesque porta vel augue.
              </h2>
            </div>
  
          </section>
        </section>
      </div>
    </div>
  </div>
</section>